.container
  .row
    .col.l6.s12
      h5.white-text= title
      p.grey-text.lighten-4= description
    .col.l4.offset-l2.s12
      h5.white-text Links
      ul
        li: a.grey-text.text-lighten-3(href="#!") Link
        li: a.grey-text.text-lighten-3(href="#!") Link
        li: a.grey-text.text-lighten-3(href="#!") Link

.footer-copyright
  .container
    | © 2017 Astro36. All rights reserved.
    .right
      span.white-text(style="font-weight: 400; margin-right: 5px;") View on
      a.fa.fa-github.fa-lg.white-text(href="https://github.com/")
